  <!-- Navbar code -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand" href="#" style="font-weight: 600; padding-left: 20px;"><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i>DEC Alumni Association</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Initiatives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Directory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/alumnisearch">Alumni Search</a>
          <a class="dropdown-item" href="http://localhost:3000/news_post">Post</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/jobintern">Jobs/Internships</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
      </li>
     
      
     </ul>
    </div>
   </nav>
<!-- Body Part -->
 <div class="container">
  <div class="row">
   <!-- Left pannel  -->
   <div class="col-3">
      <div class="signin-form">
        <br>
        <div class="h4">Search by branch</div>
        <br>
        <form action="http://localhost:3000/search_branch" method="POST">
        <select name="branch" id="" class="form-control">
                <option value="1">Civil Engineering</option>
                <option value="2">Computer Science and Engineering</option>
                <option value="3">Electrical Engineering</option>
                <option value="4">Electronics and Communication Engineering</option>
                <option value="5">Mechanical Engineering</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary form-control">Search</button>
        </form>
      </div>
      <div class="signin-form">
        <br>
        <div class="h4">Search by Year</div>
        <br>
            <a href="http://localhost:3000/search_year/2014">Alumni 2014</a> <br>
            <a href="http://localhost:3000/search_year/2015">Alumni 2015</a> <br>
            <a href="http://localhost:3000/search_year/2016">Alumni 2016</a> <br>
            <a href="http://localhost:3000/search_year/2017">Alumni 2017</a>
      </div>
   </div>
 
   <!-- Right panel with signup code -->
  <div class="col-8">
        <div class="row">
            {{#each info}}
          <div class="col-sm-4 card">
              <div>
                    <center><img class="card-img-top" src="/images/{{this.Profile_pic_path}}" alt="Card image cap" style="height: 180px;">
                    </center>
                    <div class="card-body">
                      <h4 class="card-title"><b>{{this.name}}</b></h4>
                      <p class="card-text" ><b>Class of:</b> {{this.class_yr}}</p>
                      <p class="card-text" ><b>Branch:</b> {{this.branch_name}}</p>
                      <a href="http://localhost:3000/view_profile/{{this.user_id}}" class="btn btn-primary">View details</a>
                    </div>
                </div>
          </div>
          {{/each}}
        </div>
  </div>
  </div>
  </div>

  <div class="footerContainer">
    <div class="row">
      <div class="col-3">
        <div class="footer-link">
          <a href="http://localhost:3000/about">About</a>
        </div>
        <div class="footer-link">
          <a href="#">Terms Of Use</a>
        </div>
        <div class="footer-link">
          <a href="#">Privacy Policy</a>
        </div>
      </div>

      <div class="col-3">
        <div class="footer-link">
          <a href="http://localhost:3000/alumnisearch">Alumni Search</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/allneed">Needs</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/allevent">Events</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/jobintern">Jobs & Internships</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </div>

      <div class="col-3">
        <div class="header">
          <h6>Contact Us</h6>
        </div>
      </div>

       <div class="col-3">
        <div class="logo">
          <h6><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i> DEC Allumni Association</h6>
        </div>
      </div>

    </div>
    <div class="copyright">
      <p>&copy; 2021 DEC Alumni Association</p>
    </div>
  </div>
 
 
 
   