  <!-- Navbar code -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand" href="#" style="font-weight: 600; padding-left: 20px;"><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i>DEC Alumni Association</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Initiatives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Directory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/alumnisearch">Alumni Search</a>
          <a class="dropdown-item" href="http://localhost:3000/news_post">Post</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/jobintern">Jobs/Internships</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/signin">Sign Out</a>
      </li>
      
     </ul>
    </div>
   </nav>
  <!-- Body Part -->
   <!-- Main carousel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="width:100%;  margin-top:0px; margin-left:0px;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/plantationCampaign.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tree Plantation Campaign at DEC Campus</h5>
          <p>A great Initiative is taken by DEC Family to make our Environment Green</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./images/Seminar.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>A One Day Seminar Organised to guide students to make a better carrier Path </h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./images/ME project.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Inauguration of a Project by the Honourable VC of JUT</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- About -->

  <div class="row">
      <div class="col-8">
        
        <div id="about-section">
          <div class="header">
            <h2>About</h2>
          </div>
          <img src="./images/ClgFullView1.jpg" alt="Image">
          <p>The Dumka Engineering College Alumni Association helps to connect the alumni community on a
            common platform.Alumni can help each other in personnel or professional manner.It helps to bring alumni 
          together by this platform.They can share their success stories and achievements.It keeps the alumni
          updated about college's Events,News and Alumni Reunions.It provides a facility to post their Needs like
        finding a job or shifting to a new city.It also encourages the Alumni to contribute towards the betterment
      of college.They can contribute to some fundraising programs.</p>
      <a class="btn btn-primary" href="http://localhost:3000/about">Know More</a>
        </div>

        <!-- Events -->
        <div id="events">
          <div class="header">
            <h2>Events</h2>
          </div>
          <div class="post-btn">
            <a class="btn btn-primary" href="http://localhost:3000/event_post" style="float: right;">Post an Event</a>
          </div>
          <div class="row">
            {{#each event_data}}
            <div class="col-6">
              <div class="event-card">
              <div class="event-date">
                <div class="left">
                  <p class="date"> {{this.det}} </p>
                </div> 
                <div class="left" style="margin-left: 5px;">
                  <p class="event-month"> {{this.month}} {{this.year}} </p> 
                  <p class="event-day"> {{this.day}} </p> </div>
              </div>
              <div class="event-topic">
                <a href="#"> {{this.event_title}} </a>
              </div>
              <div class="event-time">
                <p> {{this.time}} </p>
              </div>
            </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="view-all-btn">
          <a class="btn btn-primary" href="http://localhost:3000/allevent">View All</a>
        </div>
      </div>

        <div class="col-sm-3 news">
          <div class="header">
            <h2>Latest News</h2>
          </div>
          <div class="news-section">
            <ul>
            {{#each news_data}}
              <li class="news-item">
                <p class="date"> {{this.det}} </p>
                <a href="#"> {{this.news_title}} </a>
                <p class="seperator"></p>
              </li>
            {{/each}} 
            </ul>
            <a href="http://localhost:3000/allnews">View All</a>
          </div>
          </div>
          <div class="col-sm-1"></div>
  </div>
  <!--Initiatives -->

  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="header">
          <h2>Initiatives</h2>
        </div>
        <div class="campaign-container">
          <div class="row">
            <div class="campaign-img col-6">
              <img src="./images/childrenSmile.jpg" alt="image">
            </div>
            <div class="campaign-info col-sm-6">
              <div class="campaign-title">
                <h3>Donate to Bhavisya Pariwar</h3>
              </div>
              <div class="campaign-detail">
                <p>Education is the most important thing to make a better society.People who work as a daily wager
                  can't be able to afford expenses of education for their children and also education facility of rural areas are not too good.
                  And being an Engineer our responsibility is to help those children.So please donate to this campaign.A small donation will make a big 
                  difference.
                </p>
            </div>
            <a class="btn btn-warning" href="http://localhost:3000/initiative">Donate</a>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>

  <!-- Needs -->

  <div class="needs container">
    <div class="header">
      <h2>Needs</h2>
    </div>
    <div class="post-btn">
      <a class="btn btn-primary" href="http://localhost:3000/need_post" style="float: right;">Post a Need</a>
    </div>
    <div class="needs-content row">
    {{#each need_data}}
      <div class="needs-card col-sm-5" style="margin-bottom: 20px;">
         <img class="profile-img" src="/images/{{this.profile_pic_path}}" alt="">
        <button class="reply-btn btn btn-warning">Reply</button>
        <h6 class="name"><b>{{this.name}}</b></h6>
        <p>Class Of <span class="class-of"> {{this.class_yr}} </span></p>
        <div class="need-info">
          <p>
            {{this.msg}}
          </p>
        </div>
      </div>
    {{/each}}
      

    </div>
    <div class="view-all-btn">
      <a class="btn btn-primary" href="http://localhost:3000/allneed">View All</a>
    </div>
  </div>

  <div class="container" style="overflow: hidden;">
    <div class="jobs-section">
      <div class="header">
        <h2>Jobs & Internships</h2>
      </div>
      <div class="post-btn">
        <a class="btn btn-warning" href="http://localhost:3000/jobintern_post" style="float: right;">Post a Job</a>
      </div>
      <div class="section_content">
        <div class="row">
          {{#each job_data}}
          <div class="col-sm-5 job-card">
            <p class="job_main">
              <a href="#" class="title" style="margin-left: 0px;">
                {{this.job_title}}
              </a>
              <h6 class="company"><b>| {{this.c_name}} </b></h6>
            </p>
            <p><b>Location:</b> {{this.loc}} </p>
            <p><b>Salary: {{this.sal}} </b></p>
            
            <div data-url="#"><a class="btn btn-info" href="{{this.apply_link}}" target="blank">Apply</a></div>
          </div>
          {{/each}}
        </div>
       </div>
      <div class="view-all-btn">
         <a class="btn btn-primary" href="http://localhost:3000/jobintern">View All</a>
      </div>
    </div>
  </div>    

  {{!-- footer --}}

  <div class="footerContainer">
    <div class="row">
      <div class="col-3">
        <div class="footer-link">
          <a href="http://localhost:3000/about">About</a>
        </div>
        <div class="footer-link">
          <a href="#">Terms Of Use</a>
        </div>
        <div class="footer-link">
          <a href="#">Privacy Policy</a>
        </div>
      </div>

      <div class="col-3">
        <div class="footer-link">
          <a href="http://localhost:3000/alumnisearch">Alumni Search</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/allneed">Needs</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/allevent">Events</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/jobintern">Jobs & Internships</a>
        </div>
        <div class="footer-link">
          <a href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </div>

      <div class="col-3">
        <div class="header">
          <h6>Contact Us</h6>
        </div>
      </div>

       <div class="col-3">
        <div class="logo">
          <h6><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i> DEC Allumni Association</h6>
        </div>
      </div>

    </div>
    <div class="copyright">
      <p>&copy; 2021 DEC Alumni Association</p>
    </div>
  </div>

  <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $("#mainNavbar");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
    </script>
