  <!-- Navbar code -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand" href="#" style="font-weight: 600; padding-left: 20px;"><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i>DEC Alumni Association</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Initiatives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Directory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/alumnisearch">Alumni Search</a>
          <a class="dropdown-item" href="http://localhost:3000/news_post">Post</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/jobintern">Jobs/Internships</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/signin">Sign Out</a>
      </li>
      
     </ul>
    </div>
   </nav>
 <!-- Body Part -->
 <div class="container">
  <div class="row">
   <!-- Left pannel  -->
   <div class="col-3">
    <div class="left-panel">
     <a href="http://localhost:3000/news_post" id="personalInfo-btn" class="btn btn-info btn-lg" >News post</a>
       <a href="http://localhost:3000/event_post" id="jobInfo-btn"  class="btn btn-info btn-lg">Events post</a>
     <a href="http://localhost:3000/jobintern" id="achievements-btn" class="btn btn-info btn-lg" style="background-color: #095f94;color: white;">Job/Internship post</a>
     <a href="http://localhost:3000/need_post" id="higherEdu-btn" class="btn btn-info btn-lg">Need post</a>
    
    </div>
   </div>
   <!-- Right panel with signup code -->
   <div class="col-9">
     <div><p class="success-alert">{{message}}</p></div>
     <div class="heading">Job/Internship post</div>
  <form action=" " method="POST">
     
        <div class="year">
            <label for="class-year">Title:</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="year">
            <label for="class-year">Company name:</label>
            <input type="text" class="form-control" name="c_name" required>
        </div>
        <div class="year">
            <label for="class-year">Location:</label>
            <input type="text" class="form-control" name="loc" required>
        </div>
        <div class="year">
            <label for="class-year">Salary:</label>
            <input type="text" class="form-control" name="sal" required>
        </div>
        <div class="year">
            <label for="class-year">Link:</label>
            <input type="text" class="form-control" name="link" id="" required>
        </div>
      <button id="cancel-btn" class="btn btn-info btn-lg">Cancel</button>
      <button id="save-btn" type="submit" class="btn btn-info btn-lg">Post</button>
  </form> 
  <!---fetch data--->
    <div class="container" style="overflow: hidden;">
      <div class="jobs-section">
        <div class="header">
          <h2>Posted Jobs & Internships</h2>
        </div>
        <div class="section_content">
          <div class="row">
            {{#each data_job}}
            <div class="col-sm-5 job-card">
              <p class="job_main">
                <a href="#" class="title" style="margin-left: 0px;">
                  {{this.job_title}}
                </a>
                <h6 class="company"><b>| {{this.c_name}} </b></h6>
              </p>
              <p><b>Location:</b> {{this.loc}} </p>
              <p><b>Salary: {{this.sal}} </b></p>
              
              <table>
                <tr>
                  <td style="width: 90%; text-align:right;"><a href="job_update/{{this.post_id}}"><img src="images/edit.png" alt="" style="width: 20px; height:20px;"></a>&ensp;  </td>
                  <td style="text-align:right;"><a href="job_delete/{{this.post_id}}"><img src="images/del.png" alt="" style="width: 30px; height:30px;"></a></td>
                </tr>
              </table>
            </div>
            {{/each}}
          </div>
        </div>
    </div>
  
  <!-----> 
   </div>
     
 </div>

 

 